<h1>Your Information</h1>

<% @message.each do |key,value| %>
    <p>
        <strong><%= key %>:</strong> <%= value %>
    </p>
<% end %>

<p>
    <a href="/page_2">Verify if session persists</a>
</p>
